.big-button {
    background-color: $purple;
    border: none;
    border-bottom: 6px solid darken($purple, 10%);
    color: white;
    font-weight: bold;
    font-size: $l-size;
    margin-bottom: $xl-size;
    padding: 24px;
    width: 100%;
}

.big-button:disabled {
    opacity: 0.5;
}

// Button

.button {
    background-color: $purple;
    border: none;
    border-bottom: 3px solid darken($purple, 10%);
    color: white;
    font-weight: 500;
    padding: 12px;
}

.button--link {
    background: none;
    border: none;
    color: $off-white;
    padding: 0;
}
